:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-grey: #eee;
  --white: #fff;
  --medium-grey: #adadad;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  color: #0c0c0c;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.d-none {
  display: none !important;
}

.image-wrapper {
  position: relative;
  width: 800px;
  height: 600px;
  border: 1px solid var(--light-grey);
}

#image-plceholder {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--white);
}

.editing-controls {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid var(--light-grey);
  margin-left: 15px;
}

.editing-control-item {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  gap: 10px;
}

.editing-control-item .input-wrapper {
  border: 1px solid var(--medium-grey);
  border-radius: 4px;
  padding: 4px 6px;
}

.input-wrapper input {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}
